#show-up-button, #finish {
    display: none;
}

#table {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

.tr {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.td {
    flex: 1;
    background-color: rgb(39, 112, 247);
    margin: 5px;
    color: white;
    font-size: 72px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}